body{
    background-color: azure ;
    color: darkslateblue;
    margin: 5px;
    padding: 2px;
}
header,
footer{
    text-align: right;
    background-color: gainsboro;
    color: brown ;
    text-decoration-line: underline
}
