body{
    background-color: azure ;
    color: darkslateblue;
    margin: 5px;
    padding: 2px;
    font-family:Arial, Helvetica, sans-serif ;
}
header,
footer{
    text-align: right;
    background-color: gainsboro;
    color: brown ;
    text-decoration-line: underline;
    text-indent: 8ch
}
p{
    text-align: justify;
    text-indent: 8ch
}
h2,
h3,
h4{
    color: crimson;
    text-decoration-line: underline;
}
.letter1{
    color: black;
    text-decoration-line: underline;
    font-size: 120%;
}
